<!DOCTYPE html>
<html ng-app="creativedrums">

<head>
  <title>creativedrums</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>

<body class='mainIndex'>
  <div class="container">



        <ui-view></ui-view>
  </div>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/ngApp/app.js"></script>
  <!-- controllers -->
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/controllers/instrumentController.js" charset="utf-8"></script>
  <script src="/ngApp/services/services.js"></script>
  <script src="/ngApp/services/instrumentService.js" charset="utf-8"></script>
</body>

</html>
